@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Rubik-Medium";
    src: url('src/assets/fonts/static/Rubik-Medium.ttf')

}

@font-face {
    font-family: "Rubik-Regular";
    src: url('src/assets/fonts/static/Rubik-Regular.ttf')

}

@font-face {
    font-family: "Rubik-Italic";
    src: url('src/assets/fonts/static/Rubik-Italic.ttf')

}

@font-face {
    font-family: "Rubik-Light";
    src: url('src/assets/fonts/static/Rubik-Light.ttf')

}

::-webkit-progress-bar {
    padding: 4px;
    height: 16px;
    background-color: white;
    border-radius: 20px;
}

::-webkit-progress-value {
    height: 8px;
    border-radius: 20px;
    background-color: #A729F5;
}

#test {
    background-image: url("/src/assets/images/eclipse-mobile-light.svg");
    background-repeat: no-repeat;

}