@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url('src/assets/fonts/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Rubik";
    src: url('src/assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
}